* {
    padding:0;
    margin:0;
}
body {
    height:100vh;
}
label {
    position:absolute;
}
#inbody-container {
    border:1px solid black;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}
#navbar {
    height:80px;
    width:100%;
    border:1px solid black;
    display:flex;
    justify-content: space-between;
}
#nav-links-left {
    border:1px solid red;
    height:70%;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links-left .nav-link {
    margin: 10px;
}
#nav-links-left .nav-link:nth-child(1) {
    margin-left: 0px;
}
#nav-links-right {
    border:1px solid red;
}
.nav-link {
    border:1px solid blue;
}

#nine-dots {
    height:80px;
}


#main {
    height:200px;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#google-logo {
    height:110px;
}

#main-form {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#search-bar-container {
    position:relative;
}
#search-bar {
    width:300px;
    height:25px;
    border:2px solid black;
    padding-left:25px;
}
#search-d-container {
    width:25px;
    height:25px;
    position:absolute;
    top:0;
    left:0;
}
#buttons-container {
    width:80%;
    display:flex;
    justify-content: space-between;
}
#submit,#lucky-button {
    width:100px;
    height:25px;
    border:1px solid black;
}


#footer {
    justify-self:end;
    height:100px;
    width:100%;
    border:1px solid black;
}


.float-left {
    float:left;
}
.float-right {
    float:right;
}
.text-center {
    text-align:center;
}


/* @media query for when
size is small */