/*
TODO:: Remove link styling (remove blue & underlines)
TODO:: Add hover effects for nav-links,search-bar,buttons
TODO:: Center (vertically & horizontally) nav-links
TODO:: Add X button whenever there is text inside the box
TODO:: Add media query to adjust footer elements
*/
* {
    padding:0;
    margin:0;
}
body {
    height:100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    position:absolute;
}
a {
    text-decoration: none;
    color:rgb(27, 27, 27);
    font-size: 10pt;
}
.filler-div {
    height:7000px;
    flex-grow: 1;
}
.filler-div:nth-child(1) {
    max-height:00px;
}
#inbody-container {
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#navbar {
    height:80px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}
#nav-links-left {
    height:70%;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links-left .nav-link {
    margin: 10px;
}
#nav-links-left .nav-link:nth-child(1) {
    margin-left: 0px;
}
#nav-links-right {
    height:70%;
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links-right .nav-link {
    margin:10px;
}
#nine-dots {
    height:23px;
    width:23px;
    color:#5f6368;
}
#account-logo {
    clip-path: circle();
    height:30px;
    width:30px;
}
#account-logo img {
    height:100%;
    width:100%;
}
.nav-link:hover {
    text-decoration: underline;
}

#main {
    height:100%;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#google-logo {
    height:90px;
    margin-bottom:20px;
}
#main-form {
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
#search-bar-container {
    position: relative;
    border-radius: 100px;
    height:45px;
    width:575px;
    margin:0 auto;
    padding-left: 10px;
    padding-right:10px;
}
#search-bar {
    border-radius: 100px;
    height:100%;
    width:100%;
    border:1px solid lightgray;
    padding-left: 50px;
    font-size:13pt;
}

#search-d-container {
    width:20px;
    height:20px;
    position:absolute;
    top:15px;
    left:30px;
}
#buttons-container {
    width:100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;;
}
#submit,#lucky-button {
    width:fit-content;
    height:35px;
    background-color: rgb(250, 250, 250);
    border:1px solid rgb(250, 250, 250);
    border-radius: 4px;
    font-size: 10.5pt;
    padding: 3px 14px;
}
#submit {
    margin-right:6px;
}
#lucky-button {
    margin-left:6px;
}

#footer {
    background-color: #92969b;
    min-height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
}
#footer-links-center,#footer-links-right,#footer-links-left {
    display:flex;
    align-items: center;
}

#footer-links-left {
    order:0;
    padding-left: 15px;
}
#footer-links-left .footer-link {
    padding-left:17px;
    padding-right:17px;
}
#footer-links-center {
    order:1;
}
#footer-links-right .footer-link {
    padding-left:15px;
    padding-right:15px;
}
#footer-links-right {
    order:2;
}
.footer-link {
    display:inline-block;
    height:100%;
    width: fit-content;
    display: flex;
    align-items: center;
}
.footer-link:hover {
    text-decoration: underline;
}
/* @media query for when
size is small */