* {
    padding:0;
    margin:0;
}
body {
    height:100vh;
    width: 100%;
}
label {
    position:absolute;
}
#inbody-container {
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}
#navbar {
    height:80px;
    width:100%;
    border:1px solid black;
    display:flex;
    justify-content: space-between;
}
#nav-links-left {
    border:1px solid red;
    height:70%;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links-left .nav-link {
    margin: 10px;
}
#nav-links-left .nav-link:nth-child(1) {
    margin-left: 0px;
}
#nav-links-right {
    border:1px solid red;
    height:70%;
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-links-right .nav-link {
    margin:10px;
}
#nine-dots {
    height:23px;
    width:23px;
    color:#5f6368;
}
#nine-dots path {
    color:#5f6368;
}
#account-logo {
    clip-path: circle();
    filter: grayscale(80%);
    height:30px;
    width:30px;
}
#account-logo img {
    height:100%;
    width:100%;
}
.nav-link {
    border:1px solid blue;
}

#main {
    border:1px solid pink;
    height:100%;
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}
#google-logo {
    height:90px;
    margin-bottom:20px;
}
#main-form {
    border:1px solid blue;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
#search-bar-container {
    position: relative;
    border-radius: 100px;
    height:45px;
    width:650px;
    margin:0 auto;
    padding-left: 10px;
    padding-right:10px;
}
#search-bar {
    border-radius: 100px;
    height:100%;
    width:100%;
    border:1px solid black;
}
#search-d-container {
    width:25px;
    height:25px;
    position:absolute;
    top:10px;
    left:20px;
}
#buttons-container {
    border:1px solid purple;
    width:100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
#submit,#lucky-button {
    width:120px;
    height:33px;
    border:1px solid black;
    margin-left: 20px;
    margin-right: 20px;
}


#footer {
    background-color: #92969b;
    height:50px;
    width:100%;
    display:flex;
    justify-content: space-between;
}
#footer-links-center,#footer-links-right,#footer-links-left {
    border:1px solid black;
    display:flex;
    align-items: center;
}
#footer-links-left {
    order:0;
}
#footer-links-left .footer-link {
    margin-left:17px;
    margin-right:17px;
}
#footer-links-center {
    order:1;
}
#footer-links-right .footer-link {
    margin-left:15px;
    margin-right:15px;
}
#footer-links-right {
    order:2;
}

/* @media query for when
size is small */