/*
TODO:: Adjust the margin in the top and bottom header
        so that safesearch and the utility stop at the same
        position, peace & love.
TODO:: If you have the energy for it, organise CSS (order of declarations),
        Goodluck if you decide to do it! (can use .bubble for ref)

*/
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    border-bottom:1px solid black;
    width:100%;
    height:130px;
    display: flex;
    flex-direction: column;
}
#top-header {
    border-bottom:1px solid pink;
    width: 100%;
    height:90px;
    display:flex;
    justify-content: space-between;
}
#logo-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 280px;
}
#google-logo {
    height:30px;
}
#search-bar {
    height:40px;
    width:600px;
}
#utility-links-container {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
#utility-links-container,#safe-search {
    padding-right: 40px;
}
/* temp so i can work on other stuff */
svg {width:16px;}#account-logo{width: 20px;}



/*  padding/margin-left used here will be used in
    in main section too */
/* 180px */
#bottom-header {
    border-top:1px solid darkblue;
    padding-left:175px;
    height: 40px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    margin-right: 140px;
}
.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    font-size: 10.5pt;
}
.nav-link:first-child {
    padding-left: 0;
}
.nav-link:last-child {
    margin-left: 130px;
}
.nav-link svg {
    margin-right: 4px;
}


#main-container {
    border:1px solid green;
    max-width:100%;
    display:flex;
    flex-direction: column;
    padding-left: 175px;
    width:640px;
}
#view-counter-container {
    border:1px solid blue;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(143, 143, 143);
    font-size: 10.5pt;
    /* font family is different */
}
#main {
    display: flex;
    flex-direction: column;
    border-bottom:1px solid black;
    max-width: 600px;
}
.result-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding-top: 12px;
    padding-bottom: 15px;
}
.result-link-container {
    text-decoration: none;
    width: fit-content;
}
.result-link-container:hover .result-name {
    text-decoration: underline;
}
.result-url {
    display: block;
    font-size:10.5pt;
    padding-bottom: 7px;
}
.result-url:nth-child(1) {
    color:rgb(88, 88, 88);
}
.inner-result-url {
    color: rgb(131, 131, 131);
}
.result-name {
    margin-top: 40px;
    font-size: 15pt;
    color: rgb(0, 0, 192);
}
.result-description {
    padding-top: 4px;
    font-size: 10.5pt;
    line-height: 22px;
}


#related-searches-container {
    
}
#related-searches {
    
}
#related-searches-container a img {
    width: 100px;
}
#related-search-more-container {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#related-search-more {
    width:200px;
    height: 80%;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(0, 0, 192);
}
#related-search-more:hover {
    background-color: rgba(229, 229, 229, 0.697);
}
#related-search-more svg {
    justify-self: flex-start;
}

#feedback-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#feedback {
    border-bottom: 1px solid black;
    width:87%;
    height: 0;
    border-bottom: 0;
    border-left: 0;
    margin-top: 8px;
}
#feedback-container span {
    color: rgb(158, 158, 158);
    font-size: 10pt;
}

#extra-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bubble-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.bubble {
    background-color: rgba(229, 229, 229, 0.526);
    border-radius: 50px;
    width: 50%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    padding-left: 5px;
    padding-right: 15px;
    font-weight: bold;
}
.search-icon-w3 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='rgba(0,0,0,.54)' d='M20.49 19l-5.73-5.73C15.53 12.2 16 10.91 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.41 0 2.7-.47 3.77-1.24L19 20.49 20.49 19zM5 9.5C5 7.01 7.01 5 9.5 5S14 7.01 14 9.5 11.99 14 9.5 14 5 11.99 5 9.5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 20px;
    padding-right: 55px;
    width: 20px;
}

#page-links-container {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 30px;

}
.page-link-wrapper {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10.5pt;
}
.align-flex-end {
    align-self: flex-end;
}




#footer {
    background-color: rgba(226, 226, 226, 0.67);
    max-width: 100%;
    height: 118px;
    padding-left:175px;
}
#footer a {
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 11pt;
}
#top-footer {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
}
#top-footer a {
    font-weight: 600;
    color: black;
}
.light {
    font-weight: normal;
}
.blue {
    color: blue;
    font-size: 11pt;
    font-weight: normal;
}
#bottom-footer {
    width: 100%;
    height: 35%;
    display: flex;
    align-items: flex-start;
}
#bottom-footer a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10.5pt;
}
#bottom-footer a:first-child {
    padding-left: 0;
}
#bottom-footer a:last-child {
    padding-right: 0;
}